<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aperture Enterprises</title>
    <link rel="stylesheet" type = "text/css" th:href="@{/styles/style.css}">

  </head>
  <body>
    <div class="container">
      <header class="site_header">

      </header>

      <main>
        <section>
          <table id="product_table">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Sold</th>
              <th>Image</th>
            </tr>
          </table>
        </section>
      </main>
    </div>

    <script>

      function addProductTable(product) {
        const table = document.getElementById("product_table");
        const row = table.insertRow(-1);
        row.className = product.productQuantity < 6 ? "low_stock" : "";

        const id = row.insertCell(0);
        const name = row.insertCell(1);
        const price = row.insertCell(2);
        const quantity = row.insertCell(3);
        const sold = row.insertCell(4);
        const imageCell = row.insertCell(5);

        id.textContent = product.product_id;
        name.textContent =  product.product_name;
        price.textContent = product.product_price;
        quantity.textContent = product.product_quantity;
        sold.textContent = product.product_sold;

        const image = document.createElement("img");
        image.src = product.product_image;
        image.width = 100;
        image.height = 100;
        imageCell.appendChild(image);
      }



      fetch("/api/products").then((response) => {
        if (!response.ok) {
          throw new Error("Could not make network response");
        }
        return response.json();
        })
        .then((products) => {
          products.forEach((product) => {
            addProductTable(product);
          });
        })
        .catch((error) => {
          console.error("There was an issue when trying to fetch API: ", error);
        });

    </script>
  </body>
</html>