/*Reset default styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Header and Nav icons*/

.site_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
}

.low_stock {
    background-color: red;
}